.contain
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form
{
  
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
}

/* form
{
    width: 100%;
} */

/* .color {
    width: 80%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(269deg, #29e3c3, #11ae94, #1175ae, #1137ae);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 3.5s ease infinite;
    animation: AnimationName 3.5s ease infinite;
} */
/* 
@keyframes pulse {
    0%, 100% {
        
        background: linear-gradient(#1f88de, #545BFF, #2238FF);
    }
    25% {
        
        background: linear-gradient(#1f60d9, #545BFF, #2238FF);
    }
    50% {
        border-top-left-radius: 450px;
        border-bottom-left-radius: 250px;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 300px;
        background: linear-gradient(#545BFF, #2238FF,#545BFF);
    }
    75% {
        border-top-left-radius: 250px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 400px;
        border-top-right-radius: 550px;
        background: linear-gradient(#545BFF, #2238FF,#545BFF);
    }
}
@-webkit-keyframes AnimationName {
    0%{
        background-position:62% 0%;
        border-top-left-radius: 300px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 350px;
        border-top-right-radius: 550px;
    }
    25%{
        border-top-left-radius: 550px;
        border-bottom-left-radius: 400px;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 200px;
        background-position:39% 100%;
    }
    50%{
        border-top-left-radius: 550px;
        border-bottom-left-radius: 400px;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 200px;
        background-position:39% 100%;
    }
    75%{
        border-top-left-radius: 450px;
        border-bottom-left-radius: 250px;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 300px;
        background-position:62% 0%;
    }
}
@keyframes AnimationName {
    0%, 100%{
        background-position:62% 0%;
        border-top-left-radius: 300px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 350px;
        border-top-right-radius: 550px;
    }
    50%{
        border-top-left-radius: 550px;
        border-bottom-left-radius: 400px;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 200px;
        background-position:39% 100%;
    }
    75%{
        border-top-left-radius: 450px;
        border-bottom-left-radius: 250px;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 300px;
        background-position:62% 0%;
    }
} */

h4
{
    text-align: center;
    color: royalblue;
}

.forgotPass
{
    text-align: right;
    cursor: pointer;
    padding-top: 5px;
}

.policy
{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

/* img
{
    width: 500px;
    height: 500px;
    background: transparent;
} */
label{
    margin-bottom: 5px;
    color: black;
    font-size: 18px;
}
hr{
    color: #1137ae;
}
input, label, p, button{
    font-size: 14px;
}